<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="estilo.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
</head>

<body>

  
    <header class="navegador" id="nav1">
       <h1>BARRA DE HERRAMIENTAS</h1>   
      
    </header>
    <div id="di">
        <aside>
            <p>CONTENIDO SECUNDARIO</p>
        </aside>
        
        <main>

            <header class="navegador" id="nav2">
              <p>Sub Barra de Herramientas</p>  
            </header>
            <section id="box">
                
            </section>
        </main>
    </div>



</body>

</html>